body {
  background-color: rgb(147, 139, 139);
  text-align: center;
  background-size: cover;
}

nav {
  background-color: rgb(186, 186, 186);
}

.summary {
  background-color: rgb(167, 172, 179);
}

.summary img {
  width: 350px;
  height: 350px;
}

.forecast {
  background-color: rgb(167, 172, 179);
}
